<a href="/paciente" class="btn btn-success my-2">Agregar Paciente</a>
<button class="btn btn-info pull-right" id="imprimir">Imprimir</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fotografía</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Edad</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Fecha de Modificación</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de querer eliminar a <span id="nombre"></span>?
                <input type="hidden" id="id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="eliminar" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script>

    jQuery(document).ready(function ($) {
        let pacientes = JSON.parse('%PACIENTES%');
        for (let paciente of pacientes) {
            let fila = '<tr>\
            <th scope="row">' + paciente.id + '</th>';

            if (paciente.fotografia) {
                fila += '<td><img src="' + paciente.fotografia + '" width="100px"></td>';
            } else {
                fila += '<td>No hay fotografía</td>';
            }
            fila += '<td>' + paciente.nombre + '</td>\
            <td>' + paciente.fechadenacimiento + '</td>\
            <td>' + paciente.edad + '</td>\
            <td>' + paciente.telefono + '</td>\
            <td>' + paciente.fecha_creacion + '</td>\
            <td>' + paciente.fecha_modificacion + '</td>\
            <td>\
                <a class="btn btn-info btn-block" href="/paciente/?paciente=' + paciente.id + '">Editar</a>\
                <a class="btn btn-danger btn-block" href="" data-toggle="modal" data-target="#deleteConfirm" data-id="' + paciente.id + '" data-nombre="' + paciente.nombre + '">Eliminar</a>\
            </td>\
        </tr>';
            $('tbody').append(fila);
        }

        $('#deleteConfirm').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            let id = button.data('id')
            let nombre = button.data('nombre')
            $('#nombre').html(nombre);
            $('#id').val(id);
        });

        $('#deleteConfirm').on('hidden.bs.modal', function (event) {
            location.reload(true);
        });

        $('#eliminar').click(function (event) {
            $.ajax({
                url: '%AJAX_URL%',
                type: 'post',
                data: {
                    action: 'expedientes_eliminar_paciente',
                    id: $('#id').val()
                },
                success: function (response) {
                    $('#deleteConfirm').modal('hide');
                }
            });
        });

        $("#imprimir").on('click', function () {
            $.ajax({
                url: '%AJAX_URL%',
                type: 'post',
                data: {
                    action: 'expedientes_reporte_pacientes',
                },
                success: function (response) {
                    getTemplate('/wp-content/plugins/expedientes-qi/templates/tabla_pacientes.html')
                        .then(function (template) {
                            buildTemplate(template, ['paciente'], pacientes).then(
                                (builded_template) => {
                                    createPDF(builded_template, 'pacientes', 'landscape');
                                }
                            )
                        });
                }
            });
        });

    });
</script>